[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pyqt6 = "*"
python-bioformats = "*"
scikit-image = "*"
pyqt6-charts = "*"
json-tricks = "*"
pybresenham = "*"

[dev-packages]

[requires]
python_version = "3.9"
